body {
  background-color: lightblue;
}

a:link, a:visited {
  color: black;
}

nav {
  width: 800px;
  margin: 20px auto;
}

nav div {
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

fieldset {
  width: 500px;
  margin: 0 auto;
  border: none;
}

fieldset p {
  clear: both;
  padding: 5px;
}

label.field {
  text-align: right;
  width: 250px;
  float: left;
  font-weight: bold;
}

input.text {
  width: 500px;
  float: left;
}

input.button {
  clear: both;
  float: right;
  margin-top: 15px;
}

th {
  text-align: left;
}

h1, h2 {
  text-align: center;
}

#counter {
/*  width: 100%;
  margin: 0 auto;*/
  text-align: center;
}

#number {
  font-size: 800px;
  font-weight: bold;
  margin: -100px;
  padding: -100px;
  color: darkred;
}

#short_url {
  margin-bottom: 50px;
}
