<div class="container">
  <br>
  <% if @errors %>
    <%= erb :_errors, locals: {errors: @errors} %>
  <% end %>
  <% if @short %>
  <label for='short_url'>Miniscule URL:</label>
    <input type='text' id='short_url' value="<%=@short%>">  
  <%end %>
  <br>
  <form action='/urls' method='post'>
    <fieldset>
      <p><label class="field" for='orginal_url'>Enter URL:</label>
      <input class="text" type='text' id='original_url' name='url[original_url]'></p>
      <input class="button" type='submit' value='Minisculize'>
    </fieldset>
  </form>
</div>
