<div class="container">

  <h2>Sign Up!</h2>

  <% if @errors %>
    <%= erb :_errors, locals: {errors: @errors} %>
  <% end %>

  <div id="signup">
    <form action="/signup" method="post" class="form">
      <fieldset>
        <p><label class="field" for="name">Name:</label>
        <input class="text" type="text" id="name" name="user[name]"></p>
        <p><label class="field" for="email">Email:</label>
        <input class="text" type="text" id="email" name="user[email]"></p>
        <p><label class="field" for="password">Password:</label>
        <input class="text" type="text" id="password" name="user[password]"></p>
        <p><label class="field" for="password_confirmation">Password Confirmation:</label>
        <input class="text" type="text" id="password_confirmation" name="user[password_confirmation]"></p>
        <input class="button" type="submit" value="Add Yo'self" class="submit-button">
      </fieldset>
    </form>
  </div>
</div>
